.card {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 350px;
  background-color: #e2f7d2;
}
.card-body h3 {
  font-size: 25px;
}
img {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 65px;
}
